<!DOCTYPE html>
<html>
<head>
	<title>police contact</title>
		  <link rel="shortcut icon" type="image/jpg" href="logo.jpg" />


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<style type="text/css">
	*{
		height: 50px;
		width: 95%;
		max-width: 100%;
		background-color:  #00ffff;
		text-align: center;
	}
	input{
		height: 40px;
		width: 100%;
		max-width: 100%;
		font-size: 30px;
		color: red;
		background-color: white;
		border-radius: 1000px;
	}
	table tr th{
		height: 50px;
		width: 100%;
		max-width: 100%;
		background-color:  #ffb3b3;
		border-radius: 1000px;
		font-size: 30px;
	}
	table tr th:hover{
		height: 50px;
		width: 100%;
		max-width: 100%;
		background-color:  #1a53ff;
		border-radius: 1000px;
		font-size: 30px;
	}
	table tr td{
		height: 50px;
		width: 100%;
		max-width: 100%;
		background-color: #b3ffcc;
		border-radius: 100px;
		color:  #ff1a66;
		font-size: 25px;
		font-weight: bold;
	}
	table tr td:hover{
		height: 50px;
		width: 100%;
		max-width: 100%;
		background-color: #4d4d4d;
		border-radius: 100px;
		color:  #ffffff;
		font-size: 25px;
		font-weight: bold;
	}
	p{
		height: 80px;
	}
</style>

</head>
<body>
	<p> Search for any oc phone number by entering his district name. <br> if you search by entering the name of the district,you will find all the oc phone numbers of the district. <br> i apologize for any inconvenience.<br>If you find any changes of these number please inform me by mail- rifathossain.zip@gmail.com
<br>
Thanks a lot. </p>
	<h2> Made by <a href="https://www.facebook.com/rifat4.hosen.25">Md Rifat Hossain</a> </h2>
	<h1>Bangladesh all OC list</h1>

	<div ng-app=""ng-init="details=[
	{name:'Oc Ramana(Dhaka)',phone:'01713373125'},  
	{name:'Oc Dhanamandi(Dhaka)',phone:'01713373126'},
	{name:'Oc Sahabag(Dhaka)',phone:'01713373127'},
	{name:'Oc New Marke(Dhaka)',phone:'01713373128 '},
    {name:'Oc Lalabag (Dhaka)',phone:'01713373134'},
	{name:'Oc Kotayali (Dhaka)',phone:'01713373135'},
	{name:'Oc Hajaribag (Dhaka)',phone:'01713373136'},
	{name:'Oc Kamarangiracar (Dhaka)',phone:'01713373137'},
	{name:'Oc Sutrapur (Dhaka)',phone:'01713373143'},
	{name:'Oc Demar (Dhaka)',phone:'01713373144'},
	{name:'Oc Syamapur (Dhaka)',phone:'01713373145'},
	{name:'Oc Jatrabari (Dhaka)',phone:'01713373146'},
	{name:'Oc Motijheel (Dhaka)',phone:'01713373152'},
	{name:'Oc Sabujabag (Dhaka)',phone:'01713373153'},
	{name:'Oc Khilagao (Dhaka)',phone:'01713373154'},
	{name:'Oc Paltan (Dhaka)',phone:'01713373155'},
	{name:'Oc Uttara (Dhaka)',phone:'01713373161'},
	{name:'Oc Airport (Dhaka)',phone:'01713373162'},
	{name:'Oc Turag  (Dhaka)',phone:'01713373163'},
	{name:'Oc Uttarakhan  (Dhaka)',phone:'01713373164'},
	{name:'Oc Daksinakhan  (Dhaka)',phone:'01713373165'},
	{name:'Oc Gulasan  (Dhaka)',phone:'01713373171'},
	{name:'Oc  Dhaka Cantonment (Dhaka)',phone:'01713373172'},
	{name:'Oc Badda  (Dhaka)',phone:'01713373173'},
	{name:'Oc Khilakhet (Dhaka)',phone:'01713373174'},
	{name:'Oc Tejagao  (Dhaka)',phone:'01713373180'},
	{name:'Oc Tejagao Industrial Area (Dhaka)',phone:'01713373181'},
	{name:'Oc Mohammadapur  (Dhaka)',phone:'01713373182'},
	{name:'Oc Adabar  (Dhaka)',phone:'01713373183'},
	{name:'Oc Mirapur  (Dhaka)',phone:'01713373189'},
	{name:'Oc Pallabi  (Dhaka)',phone:'01713373190'},
	{name:'Oc Kafrul  (Dhaka)',phone:'01713373191'},
	{name:'Oc Shah Ali  (Dhaka)',phone:'01713373192'},



	{name:'Oc Kotwali, CMP (Chittagong)',phone:'01713373256'},
	{name:'Oc Pahartali (North Zone)  (Chittagong)',phone:'01713373257'},
	{name:'Oc Panchlaish  (Chittagong)',phone:'01713373258'},
	{name:'Oc Chandgao  (Chittagong)',phone:'01713373259'},
	{name:'Oc Khulasi  (Chittagong)',phone:'01713373260'},
	{name:'Oc Bakoliya  (Chittagong)',phone:'01713373261'},
	{name:'Oc Bayezid Bostami (Chittagong)',phone:'01713373262'},
	{name:'Oc Bandar (Chittagong)',phone:'01713373267'},
	{name:'Oc Double Muring  (Chittagong)',phone:'01713373268'},
	{name:'Oc Halisahar  (Chittagong)',phone:'01713373269'},
	{name:'Oc Patenga  (Chittagong)',phone:'01713373270'},
	{name:'Oc Karnaphuli  (Chittagong)',phone:'01713373271'},
	{name:'Oc Immigration (Bandar) (Chittagong)',phone:'01713373272'},
	{name:'Oc Pahartali (Bandar Zone) (Chittagong)',phone:'01713373273'},



	{name:'Oc Khulana  (Khulana )',phone:'01713373285'},
	{name:'Oc Sonadanga  (Khulana )',phone:'01713373286'},
	{name:'Oc Khalisapur  (Khulana )',phone:'01713373287'},
	{name:'Oc Daulatapur  (Khulana )',phone:'01713373288'},
	{name:'Oc Khan Jahan Ali (Khulana )',phone:'01713373289'},


	{name:'Oc Boyaliya  (Rajshahi)',phone:'01713373309'},
	{name:'Oc Rajpara  (Rajshahi)',phone:'01713373310'},
	{name:'Oc Matihar  (Rajshahi)',phone:'01713373311'},
	{name:'Oc Shah Makhdum (Rajshahi)',phone:'01713373312'},



	{name:'Oc Savar  (Dhaka Division)',phone:'01713373327'},
	{name:'Oc Dhamarai  (Dhaka Division)',phone:'01713373328'},
	{name:'Oc Keraniganj  (Dhaka Division)',phone:'01713373329'},
	{name:'Oc Nababganj  (Dhaka Division)',phone:'01713373330'},
	{name:'Oc Dohar  (Dhaka Division)',phone:'01713373331'},
	{name:'Oc Ashuliya  (Dhaka Division)',phone:'01713373332'},
	{name:'Oc Dokkhin Keraniganj  (Dhaka Division)',phone:'01713373333'},
	{name:'Oc Narayanganj  (Dhaka Division)',phone:'01713373345'},
	{name:'Oc Fatulla  (Dhaka Division)',phone:'01713373346'},
	{name:'Oc Bandar (Narayangonj), (Dhaka Division)',phone:'01713373347'},
	{name:'Oc Shiddhirganj  (Dhaka Division)',phone:'01713373348'},
	{name:'Oc Araihajar  (Dhaka Division)',phone:'01713373349'},
	{name:'Oc Sonargao  (Dhaka Division)',phone:'01713373350'},
	{name:'Oc Rupganj  (Dhaka Division)',phone:'01713373351'},
	{name:'Oc Joydebpur  (Dhaka Division)',phone:'01713373363'},
	{name:'Oc Tongi  (Dhaka Division)',phone:'01713373364'},
	{name:'Oc Kaliyakair  (Dhaka Division)',phone:'01713373365'},
	{name:'Oc Sripur  (Dhaka Division)',phone:'01713373366'},
	{name:'Oc Kapasiya  (Dhaka Division)',phone:'01713373367'},
	{name:'Oc Kaliganj  (Dhaka Division)',phone:'01713373368'},
	{name:'Oc Manikganj  (Dhaka Division)',phone:'01713373379'},
	{name:'Oc Ghior  (Dhaka Division)',phone:'01713373380'},
	{name:'Oc Sibaloy  (Dhaka Division)',phone:'01713373381'},
	{name:'Oc Daulatpur  (Dhaka Division)',phone:'01713373382'},
	{name:'Oc Harirampur  (Dhaka Division)',phone:'01713373383'},
	{name:'Oc Saturiya  (Dhaka Division)',phone:'01713373384'},
	{name:'Oc Singair  (Dhaka Division)',phone:'01713373385'},
	{name:'Oc Munsiganj  (Dhaka Division)',phone:'01713373396'},
	{name:'Oc Tongibari  (Dhaka Division)',phone:'01713373397'},
	{name:'Oc Lauhajang  (Dhaka Division)',phone:'01713373398'},
	{name:'Oc Srinagar  (Dhaka Division)',phone:'01713373399'},
	{name:'Oc Sirajdikhan  (Dhaka Division)',phone:'01713373400'},
	{name:'Oc Gojariya  (Dhaka Division)',phone:'01713373401'},
	{name:'Oc Narsingdi  (Dhaka Division)',phone:'01713373412'},
	{name:'Oc Raypura  (Dhaka Division)',phone:'01713373413'},
	{name:'Oc Shibpur  (Dhaka Division)',phone:'01713373414'},
	{name:'Oc Belabo  (Dhaka Division)',phone:'01713373415'},
	{name:'Oc Monohardi  (Dhaka Division)',phone:'01713373416'},
	{name:'Oc Palash  (Dhaka Division)',phone:'01713373417'},
	{name:'Oc Kotwali Mayamanasinha (Dhaka Division)',phone:'01713373430'},
	{name:'Oc Muktagacha  (Dhaka Division)',phone:'01713373431'},
	{name:'Oc Fulbari  (Dhaka Division)',phone:'01713373432'},
	{name:'Oc Trishal  (Dhaka Division)',phone:'01713373433'},
	{name:'Oc Gauripur  (Dhaka Division)',phone:'01713373434'},
	{name:'Oc IswarGanj  (Dhaka Division)',phone:'01713373435'},
	{name:'Oc Nandail  (Dhaka Division)',phone:'01713373436'},
	{name:'Oc Fulpur  (Dhaka Division)',phone:'01713373437'},
	{name:'Oc Haluyaghat  (Dhaka Division)',phone:'01713373438'},
	{name:'Oc Dhobaura  (Dhaka Division)',phone:'01713373439'},
	{name:'Oc Gaffargao (Dhaka Division)',phone:'01713373440'},
	{name:'Oc Valuka  (Dhaka Division)',phone:'01713373441'},
	{name:'Oc Tarakandi  (Dhaka Division)',phone:'01713373442'},
	{name:'Oc Tangail  (Dhaka Division)',phone:'01713373454'},
	{name:'Oc Mirjapur  (Dhaka Division)',phone:'01713373455'},
	{name:'Oc Nagorpur  (Dhaka Division)',phone:'01713373456'},
	{name:'Oc Sakhipur  (Dhaka Division)',phone:'01713373457'},
	{name:'Oc Basail  (Dhaka Division)',phone:'01713373458'},
	{name:'Oc Delduar  (Dhaka Division)',phone:'01713373459'},
	{name:'Oc Madhupur  (Dhaka Division)',phone:'01713373460'},
	{name:'Oc Ghatail  (Dhaka Division)',phone:'01713373461'},
	{name:'Oc Kalihati  (Dhaka Division)',phone:'01713373462'},
	{name:'Oc Vuyapur  (Dhaka Division)',phone:'01713373463'},
	{name:'Oc Jamuna Bridge East (Dhaka Division)',phone:'01713373464'},
	{name:'Oc Dhanbar  (Dhaka Division)',phone:'01713373465'},
	{name:'Oc Gopalpur  (Dhaka Division)',phone:'01713373466'},
	{name:'Oc Kishorgonj (Dhaka Division)',phone:'01713373480'},
	{name:'Oc Karimganj  (Dhaka Division)',phone:'01713373481'},
	{name:'Oc Tarail  (Dhaka Division)',phone:'01713373482'},
	{name:'Oc Hosenpur  (Dhaka Division)',phone:'01713373483'},
	{name:'Oc Katiyadi  (Dhaka Division)',phone:'01713373484'},
	{name:'Oc Bajittur  (Dhaka Division)',phone:'01713373485'},
	{name:'Oc Kuliyarchar  (Dhaka Division)',phone:'01713373486'},
	{name:'Oc Vairab  (Dhaka Division)',phone:'01713373487'},
	{name:'Oc Itna  (Dhaka Division)',phone:'01713373488'},
	{name:'Oc Mithamain  (Dhaka Division)',phone:'01713373489'},
	{name:'Oc Nikli  (Dhaka Division)',phone:'01713373490'},
	{name:'Oc Pakundiya  (Dhaka Division)',phone:'01713373491'},
	{name:'Oc Astagram  (Dhaka Division)',phone:'01713373492'},
	{name:'Oc Netrokona  (Dhaka Division)',phone:'01713373505'},
	{name:'Oc Barahatta  (Dhaka Division)',phone:'01713373506'},
	{name:'Oc Kalmakanda  (Dhaka Division)',phone:'01713373507'},
	{name:'Oc Atpara  (Dhaka Division)',phone:'01713373508'},
	{name:'Oc Durgapur  (Dhaka Division)',phone:'01713373509'},
	{name:'Oc Purbo Dhala (Dhaka Division)',phone:'01713373510'},
	{name:'Oc Kenduya  (Dhaka Division)',phone:'01713373511'},
	{name:'Oc Modon  (Dhaka Division)',phone:'01713373512'},
	{name:'Oc Mohanganj  (Dhaka Division)',phone:'01713373513'},
	{name:'Oc Khalijuri  (Dhaka Division)',phone:'01713373514'},
	{name:'Oc Sherpur  (Dhaka Division)',phone:'01713373523'},
	{name:'Oc Nokla  (Dhaka Division)',phone:'01713373524'},
	{name:'Oc Nalitabari  (Dhaka Division)',phone:'01713373525'},
	{name:'Oc Shribardi  (Dhaka Division)',phone:'01713373526'},
	{name:'Oc Jhinaigati  (Dhaka Division)',phone:'01713373527'},
	{name:'Oc Jamalpur  (Dhaka Division)',phone:'01713373538'},
	{name:'Oc Melandah  (Dhaka Division)',phone:'01713373539'},
	{name:'Oc Sharisabari  (Dhaka Division)',phone:'01713373540'},
	{name:'Oc Deoyanganj  (Dhaka Division)',phone:'01713373541'},
	{name:'Oc Islampur  (Dhaka Division)',phone:'01713373542'},
	{name:'Oc Madarganj  (Dhaka Division)',phone:'01713373543'},
	{name:'Oc Baksiganj  (Dhaka Division)',phone:'01713373544'},
	{name:'Oc Bahadurabad  (Dhaka Division)',phone:'01713373545'},
	{name:'Oc Faridpur Kotwali  (Dhaka Division)',phone:'01713373556'},
	{name:'Oc Madhukhali  (Dhaka Division)',phone:'01713373557'},
	{name:'Oc Boyalmari  (Dhaka Division)',phone:'01713373558'},
	{name:'Oc Alaphadanga  (Dhaka Division)',phone:'01713373559'},
	{name:'Oc Char Vodrosan (Dhaka Division)',phone:'01713373560'},
	{name:'Oc Nagarkanda  (Dhaka Division)',phone:'01713373561'},
	{name:'Oc Sadarpur  (Dhaka Division)',phone:'01713373562'},
	{name:'Oc Salta  (Dhaka Division)',phone:'01713373563'},
	{name:'Oc Bhanga  (Dhaka Division)',phone:'01713373564'},
	{name:'Oc Gopalganj  (Dhaka Division)',phone:'01713373572'},
	{name:'Oc Makasudpur (Dhaka Division)',phone:'01713373573'},
	{name:'Oc Kasiyani  (Dhaka Division)',phone:'01713373574'},
	{name:'Oc Kotalipara  (Dhaka Division)',phone:'01713373575'},
	{name:'Oc Tungipara  (Dhaka Division)',phone:'01713373576'},
	{name:'Oc Madaripur  (Dhaka Division)',phone:'01713373585'},
	{name:'Oc Rajoir  (Dhaka Division)',phone:'01713373586'},
	{name:'Oc Kalkini  (Dhaka Division)',phone:'01713373587'},
	{name:'Oc Sibachar  (Dhaka Division)',phone:'01713373588'},
	{name:'Oc Rajbari  (Dhaka Division)',phone:'01713373598'},
	{name:'Oc Baliakandi  (Dhaka Division)',phone:'01713373599'},
	{name:'Oc Pangsha  (Dhaka Division)',phone:'01713373600'},
	{name:'Oc Goyalanda  (Dhaka Division)',phone:'01713373601'},
	{name:'Oc Gosairha  (Dhaka Division)',phone:'01713373612'},
	{name:'Oc Vedarganj  (Dhaka Division)',phone:'01713373613'},
	{name:'Oc Damuddya  (Dhaka Division)',phone:'01713373614'},
	{name:'Oc Jajira  (Dhaka Division)',phone:'01713373615'},
	{name:'Oc Nariya  (Dhaka Division)',phone:'01713373616'},
	{name:'Oc Palang  (Dhaka Division)',phone:'01713373617'},
	{name:'Oc Shakhipur  (Dhaka Division)',phone:'01713373618'},



	{name:'Oc Raujan  (Chittagong Division)',phone:'01713373639'},
	{name:'Oc Hathajari  (Chittagong Division)',phone:'01713373640'},
	{name:'Oc Fatikchari  (Chittagong Division)',phone:'01713373641'},
	{name:'Oc Ranguniya  (Chittagong Division)',phone:'01713373642'},
	{name:'Oc Potiya  (Chittagong Division)',phone:'01713373643'},
	{name:'Oc Mireswarai  (Chittagong Division)',phone:'01713373644'},
	{name:'Oc Sitakunda  (Chittagong Division)',phone:'01713373645'},
	{name:'Oc Anowara  (Chittagong Division)',phone:'01713373646'},
	{name:'Oc Boyalkhali  (Chittagong Division)',phone:'01713373647'},
	{name:'Oc Bashkhali  (Chittagong Division)',phone:'01713373648'},
	{name:'Oc Satkaniya  (Chittagong Division)',phone:'01713373649'},
	{name:'Oc Lohagora  (Chittagong Division)',phone:'01713373650'},
	{name:'Oc Candnais  (Chittagong Division)',phone:'01713373651'},
	{name:'Oc Sandwip  (Chittagong Division)',phone:'01713373652'},
	{name:'Oc Cox’s Bazar  (Chittagong Division)',phone:'01713373663'},
	{name:'Oc Ramu  (Chittagong Division)',phone:'01713373664'},
	{name:'Oc Ukhiya  (Chittagong Division)',phone:'01713373665'},
	{name:'Oc Tekanaf  (Chittagong Division)',phone:'01713373666'},
	{name:'Oc Chakoriya  (Chittagong Division)',phone:'01713373667'},
	{name:'Oc Kutubdiya  (Chittagong Division)',phone:'01713373668'},
	{name:'Oc Maheskhali  (Chittagong Division)',phone:'01713373669'},
	{name:'Oc Pekuya  (Chittagong Division)',phone:'01713373670'},
	{name:'Oc Comilla Kotwali (Chittagong Division)',phone:'01713373685'},
	{name:'Oc Chauddagram  (Chittagong Division)',phone:'01713373686'},
	{name:'Oc Debirdwar (Chittagong Division)',phone:'01713373687'},
	{name:'Oc Homna  (Chittagong Division)',phone:'01713373688'},
	{name:'Oc Laksam  (Chittagong Division)',phone:'01713373689'},
	{name:'Oc Daudkandi  (Chittagong Division)',phone:'01713373690'},
	{name:'Oc Buricang  (Chittagong Division)',phone:'01713373691'},
	{name:'Oc Chandina  (Chittagong Division)',phone:'01713373692'},
	{name:'Oc Barura  (Chittagong Division)',phone:'01713373693'},
	{name:'Oc Langalakot  (Chittagong Division)',phone:'01713373694'},
	{name:'Oc Muradnagar  (Chittagong Division)',phone:'01713373695'},
	{name:'Oc Brammanpara  (Chittagong Division)',phone:'01713373696'},
	{name:'Oc Meghna  (Chittagong Division)',phone:'01713373697'},
	{name:'Oc Manoharganj  (Chittagong Division)',phone:'01713373698'},
	{name:'Oc Titas  (Chittagong Division)',phone:'01713373699'},
	{name:'Oc Police Headquarters South Comilla (Chittagong Division)',phone:'01713373700'},
	{name:'Oc Chandpur  (Chittagong Division)',phone:'01713373712'},
	{name:'Oc Hajiganj (Chittagong Division)',phone:'01713373713'},
	{name:'Oc Motlab  (Chittagong Division)',phone:'01713373714'},
	{name:'Oc Motlab Uttar (Chittagong Division)',phone:'01713373714'},
	{name:'Oc Motlab South (Chittagong Division)',phone:'01713373715'},
	{name:'Oc Shaharasti  (Chittagong Division)',phone:'01713373716'},
	{name:'Oc Kachuya  (Chittagong Division)',phone:'01713373717'},
	{name:'Oc Faridaganj (Chittagong Division)',phone:'01713373718'},
	{name:'Oc  Police Headquarter Bramman Bariya  (Chittagong Division)',phone:'01713373730'},
	{name:'Oc Sarail  (Chittagong Division)',phone:'01713373731'},
	{name:'Oc Ashuganj  (Chittagong Division)',phone:'01713373732'},
	{name:'Oc Nasirnagar  (Chittagong Division)',phone:'01713373733'},
	{name:'Oc Nabinagar  (Chittagong Division)',phone:'01713373734'},
	{name:'Oc Bancharampur (Chittagong Division)',phone:'01713373735'},
	{name:'Oc Kosba  (Chittagong Division)',phone:'01713373736'},
	{name:'Oc Akhaura (Chittagong Division)',phone:'01713373737'},
	{name:'Oc Sudharam, Noakhali  (Chittagong Division)',phone:'01713373748'},
	{name:'Oc Begamganj  (Chittagong Division)',phone:'01713373749'},
	{name:'Oc Senbag  (Chittagong Division)',phone:'01713373750'},
	{name:'Oc Sonaimuri  (Chittagong Division)',phone:'01713373751'},
	{name:'Oc Companyganj  (Chittagong Division)',phone:'01713373752'},
	{name:'Oc Chatkhil (Chittagong Division)',phone:'01713373753'},
	{name:'Oc Hatiya  (Chittagong Division)',phone:'01713373754'},
	{name:'Oc Char Jabbar (Chittagong Division)',phone:'01713373755'},
	{name:'Oc Laxmipur (Chittagong Division)',phone:'01713373765'},
	{name:'Oc Raypur  (Chittagong Division)',phone:'01713373766'},
	{name:'Oc Ramganj  (Chittagong Division)',phone:'01713373767'},
	{name:'Oc Ramgati  (Chittagong Division)',phone:'01713373768'},
	{name:'Oc Feni (Chittagong Division)',phone:'01713373778'},
	{name:'Oc Sonagaji  (Chittagong Division)',phone:'01713373779'},
	{name:'Oc Fulgaji  (Chittagong Division)',phone:'01713373780'},
	{name:'Oc Parshuram (Chittagong Division)',phone:'01713373781'},
	{name:'Oc Chagalnaiya  (Chittagong Division)',phone:'01713373782'},
	{name:'Oc Dagonbhuiya  (Chittagong Division)',phone:'01713373783'},




	{name:'Oc Paba  ',phone:'01713373800'},
	{name:'Oc Gudagari  ',phone:'01713373801'},
	{name:'Oc Tanor ',phone:'01713373802'},
	{name:'Oc Mohonpur  ',phone:'01713373803'},
	{name:'Oc Puthiya  ',phone:'01713373804'},
	{name:'Oc Bagmara  ',phone:'01713373805'},
	{name:'Oc Durgapur  ',phone:'01713373806'},
	{name:'Oc Carghata  ',phone:'01713373807'},
	{name:'Oc Bagha  ',phone:'01713373808'},
	{name:'Oc Chapai Nawbganj ',phone:'01713373819'},
	{name:'Oc Shibganj  ',phone:'01713373820'},
	{name:'Oc Gomastapur  ',phone:'01713373821'},
	{name:'Oc Nachol  ',phone:'01713373822'},
	{name:'Oc Volahat  ',phone:'01713373823'},
	{name:'Oc Naogoan  ',phone:'01713373836'},
	{name:'Oc Raynagar  ',phone:'01713373837'},
	{name:'Oc Atrai  ',phone:'01713373838'},
	{name:'Oc Dhamrai  ',phone:'01713373839'},
	{name:'Oc Badalgachi  ',phone:'01713373840'},
	{name:'Oc Mahadebpur  ',phone:'01713373841'},
	{name:'Oc Potnitola  ',phone:'01713373842'},
	{name:'Oc Niyamatpur  ',phone:'01713373843'},
	{name:'Oc Manda  ',phone:'01713373844'},
	{name:'Oc Shapahar  ',phone:'01713373845'},
	{name:'Oc Porsha  ',phone:'01713373846'},
	{name:'Oc Nator  ',phone:'01713373857'},
	{name:'Oc Shingra  ',phone:'01713373858'},
	{name:'Oc Baghatipara  ',phone:'01713373859'},
	{name:'Oc Gurudaspur  ',phone:'01713373860'},
	{name:'Oc Lalapur  ',phone:'01713373861'},
	{name:'Oc Baraigram  ',phone:'01713373862'},
	{name:'Oc Noldanga  ',phone:'01713373863'},
	{name:'Oc Kotwali, Rangpur ',phone:'01713373874'},
	{name:'Oc GongaChora  ',phone:'01713373875'},
	{name:'Oc Bodarganj  ',phone:'01713373876'},
	{name:'Oc Taraganj  ',phone:'01713373877'},
	{name:'Oc Mithapukur  ',phone:'01713373878'},
	{name:'Oc Pirgacha  ',phone:'01713373879'},
	{name:'Oc Kauniya  ',phone:'01713373880'},
	{name:'Oc Pirganj  ',phone:'01713373881'},
	{name:'Oc Gaibandha  ',phone:'01713373892'},
	{name:'Oc Sadullapur  ',phone:'01713373893'},
	{name:'Oc Sundarganj  ',phone:'01713373894'},
	{name:'Oc Palashbari  ',phone:'01713373895'},
	{name:'Oc Gobindogonj  ',phone:'01713373896'},
	{name:'Oc Saoghata  ',phone:'01713373897'},
	{name:'Oc Fulachari  ',phone:'01713373898'},
	{name:'Oc Nilfamari  ',phone:'01713373909'},
	{name:'Oc Sayedpur  ',phone:'01713373910'},
	{name:'Oc Jol dhaka ',phone:'01713373911'},
	{name:'Oc Kishor Gonj (Nilphamari)  ',phone:'01713373912'},
	{name:'Oc Domar  ',phone:'01713373913'},
	{name:'Oc Dimla  ',phone:'01713373914'},
	{name:'Oc Kurigram  ',phone:'01713373926'},
	{name:'Oc Rajarhat  ',phone:'01713373927'},
	{name:'Oc Fulabari  ',phone:'01713373928'},
	{name:'Oc Nageswari  ',phone:'01713373929'},
	{name:'Oc Burungamari  ',phone:'01713373930'},
	{name:'Oc Ulipur  ',phone:'01713373931'},
	{name:'Oc Chilmari  ',phone:'01713373932'},
	{name:'Oc Roumari  ',phone:'01713373933'},
	{name:'Oc Rajibpur  ',phone:'01713373934'},
	{name:'Oc Dhusamara  ',phone:'01713373935'},
	{name:'Oc CoChakata  ',phone:'01713373936'},
	{name:'Oc Lalmanirhat  ',phone:'01713373946'},
	{name:'Oc Aditmari  ',phone:'01713373947'},
	{name:'Oc Kaliganj  ',phone:'01713373948'},
	{name:'Oc Hatibandha  ',phone:'01713373949'},
	{name:'Oc Patgram  ',phone:'01713373950'},
	{name:'Oc  Dinajpur Kotwali  ',phone:'01713373963'},
	{name:'Oc Chirir Bondor  ',phone:'01713373964'},
	{name:'Oc Birol  ',phone:'01713373965'},
	{name:'Oc Parbatipur  ',phone:'01713373966'},
	{name:'Oc Birganj  ',phone:'01713373967'},
	{name:'Oc Bochaganj  ',phone:'01713373968'},
	{name:'Oc Kaharula  ',phone:'01713373969'},
	{name:'Oc Khansama  ',phone:'01713373970'},
	{name:'Oc Fulabari  ',phone:'01713373971'},
	{name:'Oc Birampur  ',phone:'01713373972'},
	{name:'Oc Nawabganj (Dinajpur) ',phone:'01713373973'},
	{name:'Oc Ghoraghat  ',phone:'01713373974'},
	{name:'Oc Hakimpur  ',phone:'01713373975'},
	{name:'Oc Thakurgaon  ',phone:'01713373985'},
	{name:'Oc Baliadangi  ',phone:'01713373986'},
	{name:'Oc Ranisankaoil  ',phone:'01713373987'},
	{name:'Oc Pirganj  ',phone:'01713373988'},
	{name:'Oc Haripur  ',phone:'01713373989'},
	{name:'Oc Panchagar  ',phone:'01713373999'},
	{name:'Oc Boda  ',phone:'01713374000'},
	{name:'Oc Atoyari  ',phone:'01713374001'},
	{name:'Oc Tetuliya  ',phone:'01713374002'},
	{name:'Oc Debiganj ',phone:'01713374003'},
	{name:'Oc Pabna  ',phone:'01713374016'},
	{name:'Oc Iswardi  ',phone:'01713374017'},
	{name:'Oc Atghariya  ',phone:'01713374018'},
	{name:'Oc Chatmohar  ',phone:'01713374019'},
	{name:'Oc Bhangura  ',phone:'01713374020'},
	{name:'Oc Faridpur (Pabna) ',phone:'01713374021'},
	{name:'Oc Surjonagar  ',phone:'01713374022'},
	{name:'Oc Bera  ',phone:'01713374023'},
	{name:'Oc Sathiya  ',phone:'01713374024'},
	{name:'Oc Ataikula  ',phone:'01713374025'},
	{name:'Oc Sirajganj  ',phone:'01713374038'},
	{name:'Oc Sahajadpur  ',phone:'01713374039'},
	{name:'Oc Ullapara  ',phone:'01713374040'},
	{name:'Oc Cauhali  ',phone:'01713374041'},
	{name:'Oc Tarash  ',phone:'01713374042'},
	{name:'Oc Kajipur  ',phone:'01713374043'},
	{name:'Oc Kamarkhanda  ',phone:'01713374044'},
	{name:'Oc Rayganj  ',phone:'01713374045'},
	{name:'Oc Belkuchi  ',phone:'01713374046'},
	{name:'Oc  Jamuna Bridge West  ',phone:'01713374047'},
	{name:'Oc Salanga  ',phone:'01713374048'},
	{name:'Oc Enayetpur  ',phone:'01713374049'},
	{name:'Oc Bogura  ',phone:'01713374061'},
	{name:'Oc Shibganj  ',phone:'01713374062'},
	{name:'Oc Sonatola  ',phone:'01713374063'},
	{name:'Oc Gabtoli  ',phone:'01713374064'},
	{name:'Oc Sariakandi  ',phone:'01713374065'},
	{name:'Oc Adamdighi  ',phone:'01713374066'},
	{name:'Oc Dhupchachiya  ',phone:'01713374067'},
	{name:'Oc Kahalu  ',phone:'01713374068'},
	{name:'Oc Sherpur  ',phone:'01713374069'},
	{name:'Oc Dhunat ',phone:'01713374070'},
	{name:'Oc Nandigram  ',phone:'01713374071'},
	{name:'Oc Sahajahanpur  ',phone:'01713374072'},
	{name:'Oc Jaypurahat  ',phone:'01713374082'},
	{name:'Oc Kalai  ',phone:'01713374083'},
	{name:'Oc Khetlal  ',phone:'01713374084'},
	{name:'Oc Akkelpur  ',phone:'01713374085'},
	{name:'Oc Pachbibi  ',phone:'01713374086'},





	{name:'Oc PFultola  (Khulna Division)',phone:'01713374103'},
	{name:'Oc Digholiya  (Khulna Division)',phone:'01713374104'},
	{name:'Oc Paikgacha  (Khulna Division)',phone:'01713374105'},
	{name:'Oc Batiyaghata  (Khulna Division)',phone:'01713374106'},
	{name:'Oc Dumuriya  (Khulna Division)',phone:'01713374107'},
	{name:'Oc Terokhada  (Khulna Division)',phone:'01713374108'},
	{name:'Oc Rupsa  (Khulna Division)',phone:'01713374109'},
	{name:'Oc Dakopa  (Khulna Division)',phone:'01713374110'},
	{name:'Oc Koyara (Khulna Division)',phone:'01713374111'},
	{name:'Oc Bagerhat  (Khulna Division)',phone:'01713374122'},
	{name:'Oc Fakirhat  (Khulna Division)',phone:'01713374123'},
	{name:'Oc Mollarhat  (Khulna Division)',phone:'01713374124'},
	{name:'Oc Chitalmari  (Khulna Division)',phone:'01713374125'},
	{name:'Oc Kachuya  (Khulna Division)',phone:'01713374126'},
	{name:'Oc Moralganj  (Khulna Division)',phone:'01713374127'},
	{name:'Oc Sharankhola  (Khulna Division)',phone:'01713374128'},
	{name:'Oc Mongla  (Khulna Division)',phone:'01713374129'},
	{name:'Oc Rampal  (Khulna Division)',phone:'01713374130'},
	{name:'Oc Satkhira  (Khulna Division)',phone:'01713374141'},
	{name:'Oc Kolaroya  (Khulna Division)',phone:'01713374142'},
	{name:'Oc Tala  (Khulna Division)',phone:'01713374143'},
	{name:'Oc Kaliganj  (Khulna Division)',phone:'01713374144'},
	{name:'Oc Shyamnagar  (Khulna Division)',phone:'01713374145'},
	{name:'Oc Debhata  (Khulna Division)',phone:'01713374146'},
	{name:'Oc Ashashuni  (Khulna Division)',phone:'01713374147'},
	{name:'Oc Patkelghata  (Khulna Division)',phone:'01713374148'},
	{name:'Oc Jessore Kotwali  (Khulna Division)',phone:'01713374161'},
	{name:'Oc Jhikargacha  (Khulna Division)',phone:'01713374162'},
	{name:'Oc Sharsha  (Khulna Division)',phone:'01713374163'},
	{name:'Oc Caugacha  (Khulna Division)',phone:'01713374164'},
	{name:'Oc Manirampur  (Khulna Division)',phone:'01713374165'},
	{name:'Oc Kesobpur  (Khulna Division)',phone:'01713374166'},
	{name:'Oc Ovoynagar  (Khulna Division)',phone:'01713374167'},
	{name:'Oc Bagharpara  (Khulna Division)',phone:'01713374168'},
	{name:'Oc Benapole  (Khulna Division)',phone:'01713374169'},
	{name:'Oc Benapol Check Post (Khulna Division)',phone:'01713374170'},
	{name:'Oc Magura  (Khulna Division)',phone:'01713374179'},
	{name:'Oc Salikha  (Khulna Division)',phone:'01713374180'},
	{name:'Oc Shripur  (Khulna Division)',phone:'01713374181'},
	{name:'Oc Mohammadapur  (Khulna Division)',phone:'01713374182'},
	{name:'Oc Jhinaidah  (Khulna Division)',phone:'01713374192'},
	{name:'Oc Kaliganj  (Khulna Division)',phone:'01713374193'},
	{name:'Oc Shailkupa  (Khulna Division)',phone:'01713374194'},
	{name:'Oc Horinakundu  (Khulna Division)',phone:'01713374195'},
	{name:'Oc Kotchadpur  (Khulna Division)',phone:'01713374196'},
	{name:'Oc Maheshpur  (Khulna Division)',phone:'01713374197'},
	{name:'Oc Norail  (Khulna Division)',phone:'01713374206'},
	{name:'Oc Kaliya  (Khulna Division)',phone:'01713374207'},
	{name:'Oc Lohagora  (Khulna Division)',phone:'01713374208'},
	{name:'Oc Naragati  (Khulna Division)',phone:'01713374209'},
	{name:'Oc Kushtiya (Khulna Division)',phone:'01713374220'},
	{name:'Oc Khoksa  (Khulna Division)',phone:'01713374221'},
	{name:'Oc Kumarkhali  (Khulna Division)',phone:'01713374222'},
	{name:'Oc Veramara  (Khulna Division)',phone:'01713374223'},
	{name:'Oc Daulatpur  (Khulna Division)',phone:'01713374224'},
	{name:'Oc Mirpur  (Khulna Division)',phone:'01713374225'},
	{name:'Oc Islamic University  (Khulna Division)',phone:'01713374226'},
	{name:'Oc Chuyadanga  (Khulna Division)',phone:'01713374236'},
	{name:'Oc Alamdanga  (Khulna Division)',phone:'01713374237'},
	{name:'Oc Jibannagar  (Khulna Division)',phone:'01713374238'},
	{name:'Oc Damurhuda  (Khulna Division)',phone:'01713374239'},
	{name:'Oc Meherpur  (Khulna Division)',phone:'01713374249'},
	{name:'Oc Gangni  (Khulna Division)',phone:'01713374250'},
	{name:'Oc Mujibnagar  (Khulna Division)',phone:'01713374251'},




	{name:'Oc Barisal Kotwali (Barisal Division)',phone:'01713374267'},
	{name:'Oc Hijla  (Barisal Division)',phone:'01713374268'},
	{name:'Oc Mehediganj  (Barisal Division)',phone:'01713374269'},
	{name:'Oc Muladi  (Barisal Division)',phone:'01713374270'},
	{name:'Oc Babuganj  (Barisal Division)',phone:'01713374271'},
	{name:'Oc Bakerganj  (Barisal Division)',phone:'01713374272'},
	{name:'Oc Banaripara  (Barisal Division)',phone:'01713374273'},
	{name:'Oc Agauljhara  (Barisal Division)',phone:'01713374274'},
	{name:'Oc Gauronodi  (Barisal Division)',phone:'01713374275'},
	{name:'Oc Ujirpur  (Barisal Division)',phone:'01713374276'},
	{name:'Oc Jhalkathi  (Barisal Division)',phone:'01713374286'},
	{name:'Oc Nolchithi  (Barisal Division)',phone:'01713374287'},
	{name:'Oc Rajapur  (Barisal Division)',phone:'01713374288'},
	{name:'Oc Kathaliya  (Barisal Division)',phone:'01713374289'},
	{name:'Oc Vola  (Barisal Division)',phone:'01713374300'},
	{name:'Oc Daulatkhan  (Barisal Division)',phone:'01713374301'},
	{name:'Oc Tajumuddin  (Barisal Division)',phone:'01713374302'},
	{name:'Oc Borahanuddin  (Barisal Division)',phone:'01713374303'},
	{name:'Oc Lalmohan  (Barisal Division)',phone:'01713374304'},
	{name:'Oc Charfasion  (Barisal Division)',phone:'01713374305'},
	{name:'Oc Monpura  (Barisal Division)',phone:'01713374306'},
	{name:'Oc Potuyakhali  (Barisal Division)',phone:'01713374318'},
	{name:'Oc Baufal  (Barisal Division)',phone:'01713374319'},
	{name:'Oc Golachipa  (Barisal Division)',phone:'01713374320'},
	{name:'Oc Doshmina  (Barisal Division)',phone:'01713374321'},
	{name:'Oc Dumki  (Barisal Division)',phone:'01713374322'},
	{name:'Oc Kolapara  (Barisal Division)',phone:'01713374323'},
	{name:'Oc Mirjaganj  (Barisal Division)',phone:'01713374324'},
	{name:'Oc Rangabali  (Barisal Division)',phone:'01713374325'},
	{name:'Oc Pirojpur  (Barisal Division)',phone:'01713374336'},
	{name:'Oc Vavdariya  (Barisal Division)',phone:'01713374337'},
	{name:'Oc Nesarabad  (Barisal Division)',phone:'01713374338'},
	{name:'Oc Kaukhali  (Barisal Division)',phone:'01713374339'},
	{name:'Oc Najirapur  (Barisal Division)',phone:'01713374340'},
	{name:'Oc Zianagar  (Barisal Division)',phone:'01713374341'},
	{name:'Oc Mothbariya  (Barisal Division)',phone:'01713374342'},
	{name:'Oc Borguna  (Barisal Division)',phone:'01713374353'},
	{name:'Oc Amtali  (Barisal Division)',phone:'01713374354'},
	{name:'Oc Pathorghata  (Barisal Division)',phone:'01713374355'},
	{name:'Oc Betagi  (Barisal Division)',phone:'01713374356'},
	{name:'Oc Bamona  (Barisal Division)',phone:'01713374357'},
	{name:'Oc Taltoli  (Barisal Division)',phone:'01713374358'},



	{name:'Oc Kotowali Sylhet  (Sylhet Division)',phone:'01713374375'},
	{name:'Oc Balaganj  (Sylhet Division)',phone:'01713374376'},
	{name:'Oc Jaintapur  (Sylhet Division)',phone:'01713374377'},
	{name:'Oc Goyainghat  (Sylhet Division)',phone:' 01713374378'},
	{name:'Oc Kanaighat  (Sylhet Division)',phone:'01713374379'},
	{name:'Oc Companyganja  (Sylhet Division)',phone:'01713374380'},
	{name:'Oc Jokiganj  (Sylhet Division)',phone:'01713374381'},
	{name:'Oc Biyanibazar  (Sylhet Division)',phone:'01713374382'},
	{name:'Oc Golapganj  (Sylhet Division)',phone:'01713374383'},
	{name:'Oc Biswonath  (Sylhet Division)',phone:'01713374384'},
	{name:'Oc Fenchuganj  (Sylhet Division)',phone:'01713374385'},
	{name:'Oc South Surma  (Sylhet Division)',phone:'01713374386'},
	{name:'Oc Osmani Nagar (Sylhet Division)',phone:'01713374387'},
	{name:'Oc Habiganj  (Sylhet Division)',phone:'01713374398'},
	{name:'Oc Madhabpur  (Sylhet Division)',phone:'01713374399'},
	{name:'Oc Chunarughat  (Sylhet Division)',phone:'01713374400'},
	{name:'Oc Bahubol  (Sylhet Division)',phone:'01713374401'},
	{name:'Oc Lakhai  (Sylhet Division)',phone:'01713374402'},
	{name:'Oc Nabiganj  (Sylhet Division)',phone:'01713374403'},
	{name:'Oc Baniyachang (Sylhet Division)',phone:'01713374404'},
	{name:'Oc Ajmiriganj  (Sylhet Division)',phone:'01713374405'},
	{name:'Oc Shayestaganj  (Sylhet Division)',phone:'01713374406'},
	{name:'Oc Sunamganj  (Sylhet Division)',phone:'01713374418'},
	{name:'Oc Chatak  (Sylhet Division)',phone:'01713374419'},
	{name:'Oc Jagannathpur  (Sylhet Division)',phone:'01713374420'},
	{name:'Oc Tahirpur  (Sylhet Division)',phone:'01713374421'},
	{name:'Oc Biswambarpur  (Sylhet Division)',phone:'01713374422'},
	{name:'Oc Doyarabazar  (Sylhet Division)',phone:'01713374423'},
	{name:'Oc Dirai  (Sylhet Division)',phone:'01713374424'},
	{name:'Oc Shalna  (Sylhet Division)',phone:'01713374425'},
	{name:'Oc Jamalaganj  (Sylhet Division)',phone:'01713374426'},
	{name:'Oc Dharmapasa  (Sylhet Division)',phone:'01713374427'},
	{name:'Oc Madhyanagar  (Sylhet Division)',phone:'01713374428'},
	{name:'Oc Maulvibazar  (Sylhet Division)',phone:'01713374439'},
	{name:'Oc Shrimangol  (Sylhet Division)',phone:'01713374440'},
	{name:'Oc Komolaganj  (Sylhet Division)',phone:'01713374441'},
	{name:'Oc Rajanagar  (Sylhet Division)',phone:'01713374442'},
	{name:'Oc Kulaura  (Sylhet Division)',phone:'01713374443'},
	{name:'Oc Borolekha  (Sylhet Division)',phone:'01713374444'},
	{name:'Oc Juri  (Sylhet Division)',phone:'01713374445'},

]">


	<input ng-model="search"  placeholder="Search..">
		<table>
			<tr>
				<th>Name</th>
				<th>Number</th>
			</tr>
			<tr ng-repeat="detail in details |filter:search">
				<td>{{detail.name}}</td>
				<td>{{detail.phone}}</td>
			</tr>
		</table>
	</div>
</body>
</html>